.Header-body{
    height: 125px;
    margin-top: 0px;
}

p{
    margin-top: 0px;
}

.header-line{
    height: 90px;
}

.vertical-center {
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.logo{
    float: left;
    width: 20%;
}

.search-bar-area{
    float: left;
    width: 50%;
}

.search-bar-selection{
    height: 46px;
}

.search-bar{
    width: 40%;
    height: 40px;
}

.login-area{
    float: left;
    width: 30%;
}

.recommended-options{
    line-height: 35px;
    height: 35px;
}

.recommended-options-link{
    margin-left: 5px;
    margin-right: 5px;
}

.recommended-options-link:hover{
    color: blue;
    text-decoration: underline;
}